{% extends 'base.html.twig' %}

{% block title %} Ваш профиль | StudyOn {% endblock %}

{% block body %}
    <h1>Ваш профиль</h1>

    <table class="table fs-4" style="max-width: 300px">
        <tr>
            <td class="fw-bold">Email</td>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <td class="fw-bold">Роль</td>
            <td>
                {% if 'ROLE_SUPER_ADMIN' in user.roles %}
                    ROLE_SUPER_ADMIN
                {% else %}
                    ROLE_USER
                {% endif %}
            </td>
        </tr>
        <tr>
            <td class="fw-bold">Баланс</td>
            <td>{{ user.balance }}</td>
        </tr>
    </table>
    <a class="btn btn-info mt-2" href="{{ path('app_transactions_index') }}">
        История платежей
    </a>
{% endblock %}
