{% extends 'base.html.twig' %}

{% block title %}Новый урок | {{ course.name }} | StudyOn{% endblock %}

{% block body %}
    <h1>Создать новый урок</h1>

    {{ include('lesson/_form.html.twig') }}

    <hr>
    <a class="btn btn-outline-secondary" href="{{ path('app_course_show', {'id': course.id}) }}">Отменить создание</a>
{% endblock %}
